name: Generate Cyber Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: prithvi-01x
          outputs: |
            dist/cyber-snake.svg?palette=github-dark&color_snake=00ff00&color_dots=#003300,#005500,#00aa00,#00ff00,#39ff14
            dist/cyber-snake-dark.svg?palette=github-dark&color_snake=39ff14

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
